:root {
    --text-colour: #1a1c20;
    --link-colour: #4a76ee;
    --background-colour: #eeeff1;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Pliant', sans-serif;
    background-color: var(--background-colour);
}

a {
    color: var(--link-colour);
    text-decoration: none;
}